/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    font-family: 'Silkscreen', sans-serif;
    background-color: #27233A;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

header {
    padding: 20px 40px;
    background-color: #505168;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;    
}

header h1 {
    grid-column: span 6;
    color: #B3C0A4;
}

header nav {
    grid-column: 7 / span 6;
    justify-self: right;
}

header nav a{
  color: #DCC48E;
  text-decoration: none;
  padding: 0px 10px;
}

header nav a:hover {
    font-size: larger;
    transition: ease-in-out;
}

main {
    padding: 12px;
    margin: 0px auto;
    max-width: 1200px;
}

main img {
    grid-column: span 6;
    width: 100%;
}

main h3 {
    grid-column: span 12;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #B3C0A4;
}

main article {
    margin: 0 auto;
    text-align: center;
    grid-column: span 4;
    background-color: #505168;
    padding: 10px 20px;
    border-radius: 5px;
}

main article button {
    border-radius: 5px;
    box-shadow: 1px 1px solid black;
    cursor: pointer;
}

.card h3 {
    color: #B3C0A4;
    text-decoration: none;
}

p {
    font-family: 'Bebas Neue', sans-serif;
    color: #EAEFD3;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #505168;
    align-items: center;
    text-align: center;
}

#details {
    margin-left: 35px;
    display: flex;
    align-items: center;
}

#details a {
    margin-right: 120px; 
    text-decoration: none;
    font-size: larger;
}

@media (max-width: 1100px) {
    main img {
        grid-column: 2 / span 10;
    }

    main .welcome {
        grid-column: 2 / span 10;
    }

    main article {
        grid-column: 2 / span 10;
    }
}

@media (max-width: 550px) {
    header {
        padding: 20px 0px;
    }

    header h1 {
        grid-column: span 12;
        text-align: center;
        margin: 0;
    }

    header nav {
        grid-column: span 12;
        justify-self: center;
    }

    main img {
        grid-column: span 12;
    }

    main article {
        grid-column: span 12;
        margin: 0px auto;
    }

    main {
        margin: 0px auto;
        padding-bottom: 100px;
    }

    #details {
        justify-self: center;
    }
}